@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: var(--font-color);
  background-color: #545353;
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --border-radius: 12px;

  --font-color: lightgray;
  --font-color2: blue;
}

h2 {
  font-family: sans-serif;
  margin: 0;
  margin-bottom: var(--spacing-2);
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0 var(--spacing-3);
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
}

.nav-main {
    margin: 0;
  }

.nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.nav-item {
  margin: var(--spacing-1);
}

.photo {
  width: 300px;
  border-radius: var(--border-radius);
  flex-shrink: 0;
}

.about-wrapper {
  display: flex;
}

.about-text {
  margin-right: var(--spacing-3);
}

.project-title h3 {
  display: inline;
}

details {
  cursor: pointer;
}

footer {
  margin-top: auto;
  padding: var(--spacing-2) 0;
  text-align: center;
  background-color:black;
}

section {
  padding: var(--spacing-3) 0;
}

a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 600;
}

.resume {
  color: var(--font-color2);
  -webkit-text-stroke: 1px var(--font-color);
}

@media only screen and (max-width: 600px) {
  .about-wrapper {
    flex-direction: column;
  }
}
